.main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color:  #161616;
    color: #00FF7F;
    overflow: hidden;

    @media only screen and (max-width: 1500px){
        overflow-y: scroll;
    }

}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 60%;
    box-shadow: 0px 15px 60px #868686;
    border-radius: 1rem;
    overflow-y: auto;

    @media screen and (max-width: 1200px){
        width: 35vw;
        height: 70vh;
        overflow-y: scroll;
    }

    @media only screen and (max-width: 992px){
        width: 35vw;
        height: 82vh;
        overflow-y: scroll;
    }
    @media only screen and (max-width:768px){
        width: 50vw;
        height: 60vh;
        overflow-y :scroll;
    }

    @media only screen and (max-width:512px){
        width: 80vw;
        height: 65vh;
        overflow-y :scroll;
    }
    @media only screen and (max-width: 420px){
        width: 90vw;
        height: 70vh;
        overflow-y :scroll;
    }

    @media only screen and (max-width: 280px){
        width: 95vw;
        height: 70vh;
        overflow-y :scroll;
    }
  } 

.heading_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
  

.heading{
    font-size: 3em;
    font-weight: 500;
    margin-bottom: 1em;
  }
.sub_heading{
    font-size: 1.4em;
    font-weight: 600;
    color: #ffffff;
    margin-top: 1em;
    margin-bottom: 1em;
}

.input_area {
    margin-top: 10%;
  }
  
  .form_inp {
    padding: 11px 25px;
    margin-top: 9%;
    background: transparent;
    line-height: 1;
    border-radius: 8px;
    border: 1px solid #ffffff;
    transition: all ease-in-out .3s;
}

.form_inp:focus input {
    border: 1px solid #00FF7F;
}

.form_inp:first-child {
    margin-bottom: 1em;
}

.form_inp input {
    width: 100%;
    background: none;
    font-size: 1.2em;
    color: #00FF7F;
    border: none;
    padding: 0;
    margin: 0;

    @media only screen and (max-width: 420px){
        font-size: 1em;
    }
}

.form_inp input:focus {
    outline: none;
}

  
.submit_button_cvr {
    margin-top: 2em;
  }
  
.submit_button {
    display: flex;
    width: 15em;
    height: 2.5em;
    justify-content: center;
    align-items: center;
    color: #00FF7F;
    background-color: transparent;
    font-weight: 600;
    font-size: 1.2em;
    border: 0;
    outline: 1px solid #00FF7F;
    border-radius: 0.7em;
    line-height: 1;
    cursor: pointer;
    transition: all ease-in-out .3s;
    
    &:hover {
    transition: all ease-in-out .3s;
    background-color: #00FF7F;
    color: #000000;
    cursor: pointer;
  }

    @media only screen and (max-width: 420px){
        width: 15em;
        height: 2.5em;
        font-size: 1em;
    }
}
  
#custom_toast{
    width: 500px;
    height: 40px;
}

.role_list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2rem;

    user-select: none;
}

.role {
    padding-left: 2rem;
    padding-right: 2rem;
    border: solid 1px grey;
    border-radius: 4px;
    
    cursor: pointer;

    h2 {
        font-weight: 400;
    }
}

.role_container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;

    @media screen and (max-width: 420px){
        width: 80%;
        margin-bottom: 2rem;
    }

    @media screen and (max-width: 280px){
        width: 95%;
        margin-bottom: 2rem;
    }
}
.role_button_cotainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 2em;
    gap: 1em;
}
.role_button{
    display: flex;
    width: 30%;
    height: 3rem;
    justify-content: center;
    align-items: center;
    color: #00FF7F;
    background-color: transparent;
    font-weight: 500;
    font-size: 1.1em;
    border: 0;
    outline: 1px solid #00FF7F;
    border-radius: 0.2em;
    line-height: 1;
    cursor: pointer;
    transition: all ease-in-out .3s;
    
    &:hover {
    transition: all ease-in-out .3s;
    background-color: #00FF7F;
    color: #000000;
    cursor: pointer;
  }

  
}

.role_Heading{
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 1em;
    margin-top: 1em;
}