.addProgramming_whole_container {
    --text: #b3b3b3;
    --background: #121212;
    --primary: #1db954;
    --secondary: #212121;
    --accent: #535353;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: var(--background);
    overflow-x: hidden;
    overflow-y: auto;
}

.addProgramming_header {
    width: 96vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3vh 0 0 2vw;
    border-radius: 2em;
    background-color: #e5e5f7;
    background-image: repeating-radial-gradient(
        circle at 0 0,
        transparent 0,
        #e5e5f7 30px
    ),
    repeating-linear-gradient(#ffb5b58a, #ffb8b8);
}

.addProgramming_header_top {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 2em 2em 0 0;
}

.input_container {
    position: relative;
    width: 50vw;
    margin: 0 0 0 2vw;
  }
  
  .input_container input[type="text"] {
    font-size: 2em;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
    font-weight: 700;
  }
  
  .input_container .label {
    position: absolute;
    top: 0;right: 0;
    color: #ccc;
    transition: all 0.3s ease;
    pointer-events: none;
  }
  
  .input_container input[type="text"]:focus ~ .label,
  .input_container input[type="text"]:valid ~ .label {
    top: -20px;
    font-size: 2em;
    color: #333;
  }
  
  .input_container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #333;
    transform: scaleX(0);
    transition: all 0.3s ease;
  }
  
  .input_container input[type="text"]:focus ~ .underline,
  .input_container input[type="text"]:valid ~ .underline {
    transform: scaleX(1);
  }

#editIcon {
    font-size: 1.5em;
    cursor: pointer;
}

.addProgramming_header_bottom {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 0 0 2em 2em;
}

.addProgramming_header_bottom_left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.addProgramming_header_bottom_left h1 {
    font-size: 1.2em;
    color: var(--background);
    margin: 0 0 0 2vw;
}

.duration_container {
    position: relative;
    width: 25vw;
    margin: 0 0 0 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .duration_container input[type="text"] {
    font-size: 1.2em;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
    font-weight: 700;
  }
  
  .duration_container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: #ccc;
    transition: all 0.3s ease;
    pointer-events: none;
  }
  
  .duration_container input[type="text"]:focus ~ .label,
  .duration_container input[type="text"]:valid ~ .label {
    top: -20px;
    font-size: 1.2em;
    color: #333;
  }
  
  .duration_container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #333;
    transform: scaleX(0);
    transition: all 0.3s ease;
  }
  
  .duration_container input[type="text"]:focus ~ .underline,
  .duration_container input[type="text"]:valid ~ .underline {
    transform: scaleX(1);
  }

.addProgramming_header_bottom_right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.addProgramming_header_bottom_right h1 {
    font-size: 1.2em;
    color: var(--background);
    margin: 0 0 0 2vw;
}

.marks_container {
    position: relative;
    width: 15vw;
    margin: 0 0 0 2vw;
  }
  
  .marks_container input[type="text"] {
    font-size: 1.2em;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
    font-weight: 700;
  }
  
  .marks_container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: #ccc;
    transition: all 0.3s ease;
    pointer-events: none;
  }
  
  .marks_container input[type="text"]:focus ~ .label,
  .marks_container input[type="text"]:valid ~ .label {
    top: -20px;
    font-size: 1.2em;
    color: #333;
  }
  
  .marks_container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #333;
    transform: scaleX(0);
    transition: all 0.3s ease;
  }
  
  .marks_container input[type="text"]:focus ~ .underline,
  .marks_container input[type="text"]:valid ~ .underline {
    transform: scaleX(1);
  }

.addProgramming_body {
    width: 96vw;
    height: 73vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 2vh 0 0 2vw;
    border-radius: 2em;
    background: var(--secondary);
}

.addProgramming_body_left {
    width: 30vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 2em 0 0 2em;
}

.addProgramming_body_left_header {
  width: 100%;
  height: 6vh;
  border-radius: 2em 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.addProgramming_body_left_header h1 {
  font-size: 2em;
  margin: 0 0 0 1vw;
  color: var(--text);
  letter-spacing: 0.1em;
  font-family: "Poppins", sans-serif;
}

#addIcon {
  font-size: 4em;
  margin: 0 0 0 10vw;
  cursor: pointer;
  color: var(--text);
}

.addProgramming_body_left_content {
  width: 100%;
  height: 61vh;
  border-radius: 2em 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: scroll;
}

.addProgramming_body_left_content_element {
  width: 80%;
  height: 15vh;
  border-radius: 2em;
  margin: 1vh 0 1vh 3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--text);
}

.addProgramming_body_left_content_element_left{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.addProgramming_body_left_content_element_right{
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0 2em 2em 0;
}

#binIcon {
  font-size: 2em;
  color: var(--background);
  cursor: pointer;
}

.addProgramming_body_left_footer {
  width: 100%;
  height: 6vh;
  border-radius: 0 0 0 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.addProgramming_body_left_footer button {
  height: 5vh;
  width: 10vw;
  margin: 0 1vw 0 0;
  background: var(--accent);
  color: var(--text);
  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  border: none;
}

.addProgramming_body_middle {
    width: 40vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
}

.addProgramming_body_middle_bottom {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 1vh 0 0 0;
}

.addProgramming_body_middle_bottom button {
    width: 10vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 1vw 0 0;
    border: none;
    border-radius: 1em;
    background: var(--accent);
    color: var(--text);
    font-size: 1.2em;
    font-weight: 700;
    cursor: pointer;
}

.addProgramming_body_right {
    width: 30vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0 2em 2em 0;
}

.addProgramming_body_right_header {
  width: 100%;
  height: 6vh;
  border-radius: 0 2em 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.addProgramming_body_right_header h1 {
  font-size: 2em;
  margin: 0 0 0 1vw;
  color: var(--text);
  letter-spacing: 0.1em;
  font-family: "Poppins", sans-serif;
}

.addProgramming_body_right_content {
  width: 100%;
  height: 61vh;
  border-radius: 2em 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
}

.addProgramming_body_right_footer {
  width: 100%;
  height: 6vh;
  border-radius: 0 0 2em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.addProgramming_body_right_footer button {
  height: 5vh;
  width: 10vw;
  margin: 0 1vw 0 0;
  background: var(--accent);
  color: var(--text);
  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  border: none;
}