.top_container {
    --text: #b3b3b3;
    --background: #121212;
    --primary: #1db954;
    --secondary: #212121;
    --accent: #535353;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index:100;
    overflow: hidden;
}

.children_container {
    padding: 20px;
    border-radius: 4px;

    height: 50vh;
    width: 50vw;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #f8f8f8;

    flex-direction: column;
    overflow: hidden;
}

.title_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: var(--background );
}

.modal_body {
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}