.page_container {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100vw;
    background-color: #1b1b1b;
}

.left_container {
    align-items: center;
    justify-content: center;
    height: 98vh;
    width: 49vw;
    background-color: #262626;
    border-radius: 6px;
}

.right_container {
    align-items: center;
    overflow-y: hidden;
    height: 98vh;
    width: 49vw;
    border-radius: 5px;
    background-color: #1b1b1b;
}