.Classroom_container {
  --text: #b3b3b3;
  --background: #121212;
  --primary: #1db954;
  --secondary: #212121;
  --accent: #535353;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--background);
}

.Classroom_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 30vh;

  @media screen and (max-width: 512px) {
    height: 20vh;
    margin: 2vh 0 0 0;
  }
}

.Classroom_title_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 95vw;
  height: 25vh;
  border-radius: 1em;
  background-image: repeating-radial-gradient(  #f8f1f1ee 87%,#3fa7b4 90%);
  background-size: 50px 50px;
}

.Classroom_title_container {
  width: 100%;
  height: 70%;
  border-radius: 1em 1em 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.Classroom_title_container h1 {
  font-size: 3em;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
  color: var(--background);
  margin: 5vh 0 0 3vw;
  letter-spacing: .1em;
}

.Classroom_description_container {
  width: 100%;
  height: 30%;
  border-radius: 0 0 1em 1em;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.Classroom_description_container p {
  font-size: 1.5em;
  color: var(--background);
  margin: 0 3vw 3vh 0;
}

.Classroom_body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100vw;
  height: 70vh;
  color: var(--text);

  @media screen and (max-width: 512px) {
    height: 80vh;
  }
}

.Classroom_tabs_container {
  width: 95%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 0 2.8vw;
}

.Classroom_List_Container {
  width: 95%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 0 0 2.8vw;
  border: 1px dashed var(--accent);
  border-radius: 0 1em 1em 1em;

  @media screen and (max-width: 512px) {
    height: 68vh;
    overflow-x: auto;
  }
}

.Classroom_students {
  width: 100%;
  height: 100%;
  border-radius: 0 1em 1em 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.Add_students_container {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  @media screen and (max-width: 512px) {
    height: 5vh;
  }
}

.Add_students {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3.5vw;
  height: 7vh;
  margin: 0 1vw 0 0;
  font-size: 5em;
  color: var(--primary);
  border-radius: 10em;
  cursor: pointer;
  transition: all ease-in-out .5s;

  @media screen and (max-width: 512px) {
    margin: 0 3vw 0 0;
    height: 5vh;
  }
}

.Add_students:hover {
  transform: scale(1.05);
}

.Students_list_container {
    width: 100%;
    height: 90vh;
    border-radius: 0 0 1em 1em;
    margin: 0 0 1vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;

    @media screen and (max-width: 512px) {
      overflow-x: auto;
      width: 200%;
    }
}

/* Student Details header grid */

.Student_header_grid {
  width: 100%;
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  border-bottom: 1px solid var(--accent);
}

.Student_grid_title {
font-family: "Poppins", sans-serif;
font-size: 1.2em;
text-align: center;
margin-top: 3vh;
font-weight: 700;
color: var(--text);
}

.Student_list_grid {
width: 100%;
height: 10vh;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: auto;
}

.Student_modal_content {
  width: 100%;
  height: 90%;
  margin: 0 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.Student_modal_reciever_container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 512px) {
    height: 55vh;
    overflow-y: auto;
  }
}

.Student_modal_input_fields {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  @media screen and (max-width: 512px) {
    height: 30vh;
    flex-direction: column;
  }
}

.add_in_mobile {
  display: none;

  @media screen and (max-width: 512px) {
    display: flex;
    font-size: 1.5em;
  }
}

.Student_modal_mail_list {
  width: 100%;
  height: 80%;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.Student_mail_display {
  width: auto;
  height: auto;
  padding: .5em .5em;
  margin: 1vh 1vw 1vh 1vw;
  border-radius: 2em;
  font-size: 1.2em;
  background: var(--text);
  color: var(--background);
  cursor: pointer;
}

.input_wrapper {
  position: relative;
  width: 12vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  @media screen and (max-width: 512px) {
    width: 60vw;
    flex-direction: column;
  }
}

.input_box {
  font-size: 1.2em;
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid var(--text);
  color: var(--background);
  width: 100%;
  background-color: transparent;
  transition: border-color 0.3s ease-in-out;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--secondary);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.input_box:focus {
  border-color: #08AEEA;
  outline: none;
}

.input_box:focus + .underline {
  transform: scaleX(1);
}

.Student_download_container{
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.Btn {
  width: 3vw;
  height: 5vh;
  border: none;
  border-radius: 50%;
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
  margin: 0 0 0 1vw;

  @media screen and (max-width: 512px) {
    width: 10vw;
  }
}

.svgIcon {
fill: rgb(214, 178, 255);
}

.icon2 {
width: 18px;
height: 5px;
border-bottom: 2px solid rgb(182, 143, 255);
border-left: 2px solid rgb(182, 143, 255);
border-right: 2px solid rgb(182, 143, 255);
}

.tooltip {
position: absolute;
right: -160px;
opacity: 0;
background-color: rgb(12, 12, 12);
color: white;
padding: 5px 10px;
border-radius: 5px;
display: flex;
align-items: center;
justify-content: center;
transition-duration: .2s;
pointer-events: none;
letter-spacing: 0.5px;
}

.tooltip::before {
position: absolute;
content: "";
width: 10px;
height: 10px;
background-color: rgb(12, 12, 12);
background-size: 1000%;
background-position: center;
transform: rotate(45deg);
left: -5%;
transition-duration: .3s;
}

.Btn:hover .tooltip {
opacity: 1;
transition-duration: .3s;
}

.Btn:hover {
background-color: rgb(150, 94, 255);
transition-duration: .3s;
}

.Btn:hover .icon2 {
border-bottom: 2px solid rgb(235, 235, 235);
border-left: 2px solid rgb(235, 235, 235);
border-right: 2px solid rgb(235, 235, 235);
}

.Btn:hover .svgIcon {
fill: rgb(255, 255, 255);
animation: slide-in-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
0% {
  transform: translateY(-10px);
  opacity: 0;
}

100% {
  transform: translateY(0px);
  opacity: 1;
}
}


.custum_file_upload {
height: 200px;
width: 300px;
display: flex;
flex-direction: column;
align-items: space-between;
gap: 20px;
cursor: pointer;
align-items: center;
justify-content: center;
border: 2px dashed #cacaca;
background-color: rgba(255, 255, 255, 1);
padding: 1.5rem;
border-radius: 10px;
box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
}

.custum_file_upload .icon {
display: flex;
align-items: center;
justify-content: center;
}

.custum_file_upload .icon svg {
height: 80px;
fill: rgba(75, 85, 99, 1);
}

.custum_file_upload .text {
display: flex;
align-items: center;
justify-content: center;
}

.custum_file_upload .text span {
font-weight: 400;
color: rgba(75, 85, 99, 1);
}

.custum_file_upload input {
display: none;
}

.Student_modal_button_container {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.Student_add_button {
  height: 6vh;
  width: 10vw;
  background: var(--primary);
  color: var(--background);
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 2em;
  cursor: pointer;

  @media screen and (max-width: 512px) {
    width: 20vw;
    font-size: 1.5em;
  }
}

.Student_cancel_button {
  height: 6vh;
  width: 10vw;
  border: 1px solid red;
  color: var(--background);
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 2em;
  cursor: pointer;

  @media screen and (max-width: 512px) {
    width: 20vw;
    font-size: 1.5em;
  }
}

.Classroom_teachers {
width: 100%;
height: 100%;
border-radius: 0 1em 1em 1em;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
}

.Add_teachers_container {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  @media screen and (max-width: 512px) {
    height: 5vh;
  }
}

.Add_teachers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3.5vw;
  height: 7vh;
  margin: 0 1vw 0 0;
  font-size: 5em;
  color: var(--primary);
  border-radius: 10em;
  cursor: pointer;
  transition: all ease-in-out .5s;

  @media screen and (max-width: 512px) {
    margin: 0 3vw 0 0;
    height: 5vh;
  }
}

.Add_teachers:hover {
transform: scale(1.05);
}

.Teachers_list_container {
width: 100%;
height: 90vh;
border-radius: 0 0 1em 1em;
margin: 0 0 1vh 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
overflow-y: auto;

@media screen and (max-width: 512px) {
  overflow-x: auto;
  width: 200%;
}
}

.Teacher_header_grid {
width: 100%;
height: 10vh;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: auto;
border-bottom: 1px solid var(--accent);
}

.Teacher_grid_title {
font-family: "Poppins", sans-serif;
font-size: 1.2em;
text-align: center;
margin-top: 3vh;
font-weight: 700;
}

.Teacher_list_grid {
width: 100%;
height: 10vh;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: auto;
}

.Teacher_modal_content {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.Teacher_modal_reciever_container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 512px) {
    height: 55vh;
    overflow-y: auto;
  }
}

.Teacher_modal_input_fields {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  @media screen and (max-width: 512px) {
    height: 30vh;
    flex-direction: column;
  }
}

.Teacher_modal_mail_list {
width: 100%;
height: 80%;
overflow-y: auto;
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
flex-wrap: wrap;
}

.Teacher_mail_display {
width: auto;
height: auto;
padding: .5em .5em;
margin: 1vh 1vw 1vh 1vw;
border-radius: 2em;
font-size: 1.2em;
background: var(--text);
color: var(--background);
cursor: pointer;
}

.Teacher_modal_button_container {
width: 100%;
height: 10vh;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
}

.Teacher_add_button {
  height: 6vh;
  width: 10vw;
  background: var(--primary);
  color: var(--background);
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 2em;
  cursor: pointer;

  @media screen and (max-width: 512px) {
    width: 20vw;
    font-size: 1.5em;
  }
}

.Teacher_cancel_button {
  height: 6vh;
  width: 10vw;
  border: 1px solid red;
  color: var(--background);
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 2em;
  cursor: pointer;

  @media screen and (max-width: 512px) {
    width: 20vw;
    font-size: 1.5em;
  }
}

.Classroom_tests {
width: 100%;
height: 100%;
border-radius: 0 1em 1em 1em;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
}

.Add_tests_container {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  @media screen and (max-width: 512px) {
    height: 5vh;
  }
}

.Add_tests {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3.5vw;
  height: 7vh;
  margin: 0 1vw 0 0;
  font-size: 5em;
  color: var(--primary);
  border-radius: 10em;
  cursor: pointer;
  transition: all ease-in-out .5s;

  @media screen and (max-width: 512px) {
    margin: 0 3vw 0 0;
    height: 5vh;
  }
}

.Add_tests:hover {
transform: scale(1.05);
}

.Tests_list_container {
  width: 100%;
  height: 90vh;
  border-radius: 0 0 1em 1em;
  margin: 0 0 1vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;

  @media screen and (max-width: 512px) {
    overflow-x: auto;
    width: 200%;
  }
}

.Test_header_grid {
width: 100%;
height: 10vh;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: auto;
border-bottom: 1px solid var(--accent);
}

.Test_grid_title {
font-family: "Poppins", sans-serif;
font-size: 1.2em;
text-align: center;
margin-top: 4vh;
font-weight: 700;
}

.Test_list_grid {
width: 100%;
height: 10vh;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: auto;
border-radius: 2em;
margin: 1vh 0 0 0;
background: #535353a4;
}

.Test_modal_content {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Test_modal_reciever_container {
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 512px) {
    height: 55vh;
    overflow-y: auto;
  }
}

.test_select {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.test_select label {
  font-size: 1.5em;
  color: var(--background);
  margin: 0 2vw 0 1vw;

  @media screen and (max-width: 512px) {
    font-size: 1.2em;
  }
}

.test_select select {
  width: 30vw;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;

  @media screen and (max-width: 512px) {
    width: 60vw;
  }
}

.test_select option {
  font-size: 1em;
  color: var(--background);
  background-color: var(--text);
}

.test_date_time {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.test_date_time label {
  font-size: 1.2em;
  color: var(--background);
  margin: 0 2vw 0 1vw;

  @media screen and (max-width: 512px) {
    font-size: 1.2em;
  }
}

.test_date_time input {
  width: 30vw;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.Test_modal_button_container {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.Test_schedule_button {
  height: 6vh;
  width: 10vw;
  background: var(--primary);
  color: var(--background);
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 2em;
  cursor: pointer;
  border: none;

  @media screen and (max-width: 512px) {
    width: 25vw;
    font-size: 1.5em;
  }
}

.Test_cancel_button {
  height: 6vh;
  width: 10vw;
  border: 1px solid red;
  color: var(--background);
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 2em;
  cursor: pointer;

  @media screen and (max-width: 512px) {
    width: 20vw;
    font-size: 1.5em;
  }
}


::-webkit-scrollbar {
display: none;
}