.dashboard_container {
    --text: #b3b3b3;
    --background: #121212;
    --primary: #1db954;
    --secondary: #212121;
    --accent: #535353;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background);

    padding: 24px;
}

.dashboard_body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 90vh;
    background: transparent;
    color: var(--text);
}

.dashboard_body_content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    background: transparent;
    color: var(--text);
}

.classes_container {
    display: flex;
    gap: 2rem;
}

.class_card {
    width: 20vw;
    height: 30vh;
    background: transparent;
    border: 1px solid var(--text);
    border-radius: 1em;
    margin: 1vh 1vw 1vh 1vw;
}

.class_card_header {
    width: 100%;
    height: 22vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 1em 1em 0 0;
    cursor: pointer;
    --s: 82px;
    --c1: #b2b2b2;
    --c2: #ffffff;
    --c3: #d9d9d9;

    --_g: var(--c3) 0 120deg, #0000 0;
    background: conic-gradient(from -60deg at 50% calc(100% / 3), var(--_g)),
        conic-gradient(from 120deg at 50% calc(200% / 3), var(--_g)),
        conic-gradient(
        from 60deg at calc(200% / 3),
        var(--c3) 60deg,
        var(--c2) 0 120deg,
        #0000 0
        ),
        conic-gradient(from 180deg at calc(100% / 3), var(--c1) 60deg, var(--_g)),
        linear-gradient(
        90deg,
        var(--c1) calc(100% / 6),
        var(--c2) 0 50%,
        var(--c1) 0 calc(500% / 6),
        var(--c2) 0
        );
    background-size: calc(1.732 * var(--s)) var(--s);
}

.class_card_header h3 {
    margin: 5vh 0 0 1vw;
    font-family: "Poppins", sans-serif;
    font-size: 2em;
    color: var(--background);
    letter-spacing: .05em;
    font-style: italic;
}

.class_card_footer {
    width: 100%;
    height: 10vh;
    border-radius: 0 0 1em 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    .view_button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--text);
        background-color: transparent;

        width: 4rem;
        height: 4rem;

        outline: none;
        border: none;

        &:hover {
            cursor: pointer;
        }
    }
}
