.dashboard_container {
    --text: #b3b3b3;
    --background: #121212;
    --primary: #1db954;
    --secondary: #212121;
    --accent: #535353;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height :100%;
    background-color: var(--background);
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    @media screen and (max-width: 512px){
        height: 100%;
        overflow-x : hidden;
        overflow-y:auto;
    }
}

.dashboard_body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height:100%;
    overflow-x: hidden;
    background: transparent;
    color: var(--text);

    h1{
        font-size: 2.5em;
        margin: 2vh 0 0 1vw;

        @media screen and (max-width: 512px){
            font-size : 1.5rem;
            margin: 2vh 0 0 3vw;
        }
    }
}

.dashboard_body_content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    background: transparent;
    color: var(--text);

    p{
        font-size: 1.5em;
        margin: 2vh 0 0 1vw;

        @media screen and (max-width: 512px){
            font-size : 1.2rem;
            margin: 2vh 0 0 3vw;
        }
    }

}

#paraid{
    display: block;
    font-size: 2em;
    margin: 2vh 0 0 1vw;


    @media screen and (max-width: 512px){
        display: none;
    }
}

.dashboard_classes_content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    background: transparent;
    color: var(--text);

    h1{
        font-size: 2em;
        font-family: "Poppins", sans-serif;
        margin: 0 0 0 5vw;
    }
}
.classHeading{
    font-size: 1.7rem;
    font-family: "Poppins", sans-serif;
    margin: 1vh 0 0 1vw;


    @media screen and (max-width: 512px){
        font-size: 1.5rem;
        margin: 1vh 0 0 3vw;
    }
}

.dashboard_body_container{
    display : flex;
    flex-direction : column;
    width : 97vw;
    height: 100%;
    background : var(--background);
    color : var(--text);
    justify-content: flex-start;
    margin-top: 2rem;

    @media screen and (max-width: 512px){
        height: 100%;
        overflow-x : hidden;
        overflow-y:auto;
    }
}
.classes_container {
    display: flex;
    gap: 2rem;
}

.dashboard_classes{
    display : flex;
    flex-direction :row;
    align-items : center;
    width: 100vw;
    height: 35vh;
    background : transparent;
    color : var(--text);
    overflow-x: auto;
    overflow-y: hidden;


}
.Classroom_display {
    width: 19vw;
    height: 30vh;
    background: transparent;
    border: 1px solid var(--text);
    border-radius: 1em;
    margin: 1vh 1vw 1vh 1vw;

    @media screen and (max-width: 512px){
        width: 65vw;
        height: 30vh;
        margin: 1vh 3vw 3vh 4vw;
    }
}

.classCardContainer{
    width : 100%;
    height : 28rem;    
}

.Classroom_display_header {
    width: 100%;
    height: 22vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 1em 1em 0 0;
    cursor: pointer;
    --s: 82px;
    --c1: #b2b2b2;
    --c2: #ffffff;
    --c3: #d9d9d9;

    --_g: var(--c3) 0 120deg, #0000 0;
    background: conic-gradient(from -60deg at 50% calc(100% / 3), var(--_g)),
        conic-gradient(from 120deg at 50% calc(200% / 3), var(--_g)),
        conic-gradient(
        from 60deg at calc(200% / 3),
        var(--c3) 60deg,
        var(--c2) 0 120deg,
        #0000 0
        ),
        conic-gradient(from 180deg at calc(100% / 3), var(--c1) 60deg, var(--_g)),
        linear-gradient(
        90deg,
        var(--c1) calc(100% / 6),
        var(--c2) 0 50%,
        var(--c1) 0 calc(500% / 6),
        var(--c2) 0
        );
    background-size: calc(1.732 * var(--s)) var(--s);
}

.no_content_container{
    display: flex;
    flex-direction: column;
    width: 99vw;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 512px){
        height: 100%;
        overflow-x : hidden;
        overflow-y:auto;
    }
}
.no_content_message{
        font-size : 1.5em;
        font-weight: 600;
        margin: 1vw 0 2vw 5vw;
        @media screen and (max-width: 512px){
            font-size:1.3rem;
        }
}

.Classes_container {
    display: flex;
    margin: 5vh 0 5vh 0;
}

.Classroom_display_header h1 {
    margin: 5vh 0 0 1vw;
    font-family: "Poppins", sans-serif;
    font-size: 2em;
    color: var(--background);
    letter-spacing: .05em;

    @media screen and (max-width: 512px){
        font-size:1.7rem;
        margin: 3vh 0 0 1vw;
    }
}

.Classroom_display_footer {
    width: 100%;
    height: 10vh;
    border-radius: 0 0 1em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p{
        font-size : 1.5em;
        font-weight: 600;
        margin: 0 0 1vw 1vw;
        @media screen and (max-width: 512px){
            font-size:1.3rem;
        }
    }
}

.view_all_button {
    --primary-color: #645bff;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    width: 10vw;
    height: 5vh;
    margin: 20vh 0 0 5vw;

    @media screen and (max-width: 512px){
        width: 22vw;
        margin: 5vh 0 0 5vw;
    }
  }
  
  .view_all_button .arrow_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .view_all_button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  .view_all_button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  .view_all_button:hover {
    background-color: var(--hover-color);
  }
  
  .view_all_button:hover .arrow {
    background: var(--secondary-color);
  }
  
  .view_all_button:hover .arrow:before {
    right: 0;
  }


