.main_container {
    padding: 10px;
}

.title_container {
    display: flex;
    align-items: center;

    gap: 16px;

    padding-left: 14px;
}

.description_container {
    height: 10%;
    padding-left: 16px;
    padding-right: 16px;

    word-spacing: 4px;
}